MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<db_name>?retryWrites=true&w=majority
RENDER_DEPLOY_HOOK_URL=https://api.render.com/deploy/srv-<service_id>?key=<key>
CLERK_PUBLISHABLE_KEY=your_publishable_key_here
CLERK_SECRET_KEY=your_secret_key_here
CLERK_WEBHOOK_SIGNING_SECRET=your_webhook_signing_secret_here
